@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /* ### Primary */

  --red: #ff7a7a;
  --green: #38cc8c;

  /* ### Accent */

  --blue: #6055a5;

  /* ### Neutral */

  --dark-blue: #3e3c49;
  --grayish-blue: #b9b6d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}
